
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
/* Begin Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:65px;
}
nav{
    width:200px;
}
nav .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.humberger >*{
    height: 2px;
    margin-bottom: 5px;
    width: 25px;
    background-color: var(--black-color);
}
/* End Header */


.red-text {
    color: var(--primary-color);
}
.btn {
    outline: none;
    border: 2.2px solid var(--primary-color);
    padding: 0.8rem 1.9rem;
    color: var(--white-color);
    border-radius: 1.85rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-ghost {
    background-color: var(--white-color);
    color: var(--primary-color);
    font-weight: 700;
    border: 2.2px solid var(--primary-color);
}

.btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}
.btn-ghost:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}


/* hello */


/* Media */
/* small screen */
@media (min-width:768px) {
    .container{width:750px}
}
/* medium screen */
@media (min-width:992px) {
    .container{width:970px}
}
/* large screen */
@media (min-width:1200px) {
    .container{width:1170px}
}

/* Hero Styling */
.hero-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.hero-text h1 {
    padding-right: 40px;
}
.hero-text p {
    line-height: 25.5px;
}
.hero-img {
    display: flex;
    align-items: center;
}
.btns {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
}

/* END Heroo Styling */